# Python / Backend
__pycache__/
*.pyc
.env
.idea/
.vscode/

# Flutter / Mobile
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/

# Docker / Database (Opsional)
**/data/